html {
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
}
html, body {
  background: #fff;
  color: #000;
  margin: 500;
  padding: 0;
}
body {
  font:11px/1.4 Helvetica;
  word-spacing: 0.1em;
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 2em;
}


p, ul, ol {
  font-size: large;
  margin: 1.556em 0;
}

pre{
 font-size: large;
 max-width: 960px;
 margin: 100 auto;
}

img{
    padding: 20px;
    margin-left: -20px;
}

.whiteRightPointingIndex:after {
    content: "☞";
    font-size: 2.5em;
}

.tip-box:before{
    content: "✍";
    padding-right: 5px;
    font-size: 2.5em;
}

.note {
    margin-bottom: 2em;
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 2em;
}

.inner {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: #FFFFFF;
    margin-right: 5px;
    margin-top: 0;
/*    padding-bottom: 1em;*/
/*    padding-right: 154px;*/
    padding-top: 0;
}

}